.row{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid lightgrey;
    background:  lightgoldenrodyellow;
    .nav{
        width: 90%;
        height: 100%;
        background:  transparent;
        .toggler{
            opacity: 0;
            z-index: -5;
        }
    }
}

.card-container{
    width: 100%;
    height: calc(100vh - 60px);
    padding: 2rem;
    background: lightgoldenrodyellow;
    .flex{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
}